---
// src/components/Hero.astro
---
<section class="relative overflow-hidden">
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-center">
      <div>
        <p class="text-sm leading-normal font-bold uppercase text-accent-600">
          
        </p>
        <h2
          class="text-xl leading-tight tracking-tight sm:text-2xl md:text-3xl lg:text-4xl mt-4 font-semibold text-text-100"
        >
        Servicios Veterinarios a Domicilio
        </h2>
        <p class="text-text-200 leading-normal mt-4 text-base-500 font-medium">
          Cuidamos de tus mascotas en la comodidad de tu hogar.
        </p>
        <div class="flex flex-wrap items-center gap-2 mx-auto mt-8">
          <button
            class="flex items-center justify-center focus:ring-2 focus:outline-none bg-accent-100 hover:bg-accent-200 focus:ring-accent-500/50 h-9 px-4 py-2 text-sm font-medium rounded-md"
          >
            Agenda tu cita
          </button>

        </div>
      </div>
      <div class="lg:col-span-2 relative">
        <!-- Imagen principal -->
        <img
          class="object-cover w-full drop-shadow-2xl"
          src="/img/hero-image.png"
          alt="Imagen de perritos y gatitos"
        />
      
   
      </div>
    </div>
    
  </div>


</section>
